<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Me Protocol</title>
      <style type="text/css">
         body,
         td,
         div,
         p,
         a,
         input {
         font-family: arial, sans-serif;
         }
      </style>
      <style type="text/css">
         body,
         td {
         font-size: 13px;
         }
         a:link,
         a:active {
         color: #1155cc;
         text-decoration: none;
         }
         a:hover {
         text-decoration: underline;
         cursor: pointer;
         }
         a:visited {
         color: ##6611cc;
         }
         img {
         border: 0px;
         }
         pre {
         white-space: pre;
         white-space: -moz-pre-wrap;
         white-space: -o-pre-wrap;
         white-space: pre-wrap;
         word-wrap: break-word;
         max-width: 800px;
         overflow: auto;
         }
         .logo {
         left: -7px;
         position: relative;
         }
      </style>
   </head>
   <body>
      <div class="bodycontainer">
         <table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
            <tr>
               <td>
            <tr>
               <td colspan=2>
                  <table width=100% cellpadding=12 cellspacing=0 border=0>
                     <tr>
                        <td>
                           <div style="overflow: hidden;">
                              <font size=-1>
                                 <u></u>
                                 <div style="margin:0;padding:0;background-color:#FAFAFA">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#FAFAFA">
                                       <tbody>
                                          <tr>
                                             <td class="m_-7998072738712585119data-container">
                                                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#FAFAFA">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <table class="m_-7998072738712585119row-content m_-7998072738712585119stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-bottom:1px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;border-top:1px solid transparent;color:#333;border-radius:0;width:590px;background-color:#fff;border-top-width:0;border-right-width:0;border-bottom-width:0;border-left-width:0" width="590">
                                                               <tbody style="background-color:#fff">
                                                                  <tr style="background-color:#fff">
                                                                     <td class="m_-7998072738712585119column m_-7998072738712585119column-1" width="100%" style="font-weight:400;text-align:left;vertical-align:top;padding-top:0;padding-bottom:0;border-top:0;border-right:0;border-bottom:0;border-left:0;background-color:#fff">
                                                                        <table class="m_-7998072738712585119image_block m_-7998072738712585119block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#fff">
                                                                           <tr>
                                                                              <td class="m_-7998072738712585119pad" style="width:100%;padding-right:0;padding-left:0;background-color:#FAFAFA">
                                                                                 <div align="center" style="line-height:10px;background-color:#FAFAFA"><a href="" style="outline:0" target="_blank"><img class="m_-7998072738712585119big" src="https://res.cloudinary.com/digital-specie/image/upload/v1689321729/Group_163145.png" style="display:block;height:auto;border:0;width:588px;max-width:100%" width="588" title="Kuda Logo-purple"></a></div>
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <table class="m_-7998072738712585119row-content m_-7998072738712585119stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="color:#333;width:590px" width="590">
                                                               <tbody>
                                                                  <tr>
                                                                     <td class="m_-7998072738712585119column m_-7998072738712585119column-1" width="100%" style="font-weight:400;text-align:left;vertical-align:top;padding-top:30px;padding-bottom:0;border-top:0;border-right:0;border-bottom:0;border-left:0;background-color:#fff">
                                                                        <table class="m_-7998072738712585119text_block m_-7998072738712585119block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="word-break:break-word">
                                                                           <tr>
                                                                              <td class="m_-7998072738712585119pad" style="padding-left:10px;padding-right:10px;padding-top:10px;background-color:#fff">
                                                                                 <div>
                                                                                    <div style="color:#000;line-height:1.2;background-color:#fff">
                                                                                       <p style="margin:0;text-align:center">
                                                                                       <h1 class="m_-7998072738712585119txt-center m_-7998072738712585119heading" style="font-size:28px;margin-top:0;font-weight:830;text-align:center;font-family:Mulish,sans-serif">
                                                                                        {{{subject}}}
                                                                                       </h1>
                                                                                       </p>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                        <table class="m_-7998072738712585119text_block" width="100%" border="0" cellpadding="30" cellspacing="0" role="presentation" style="word-break:break-word">
                                                                           <tr>
                                                                              <td class="m_-7998072738712585119pad" style="background-color:#fff">
                                                                                 <div style="font-family:sans-serif">
                                                                                    <div style="background-color:#fff;font-size:12px;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;color:#000;line-height:1.2;box-sizing:border-box">
                                                                                       <p style="background-color:#fff;margin:0;height:auto;font-family:Mulish,sans-serif;font-size:14px"><span style="font-size:15px;line-height:1.6;font-family:Mulish,sans-serif;display:block;height:auto">
                                                                                        {{{message}}}
                                                                                       </span></p>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="display:none;height:0;overflow:hidden">
                                                                           <tr>
                                                                              <td class="m_-7998072738712585119pad" style="padding-bottom:0;padding-left:10px;padding-right:10px;padding-top:15px;text-align:center;background-color:#fff">
                                                                                 <div style="text-align:center">
                                                                                    <div style="text-decoration:none;color:#fff;border-radius:5px;width:70%;border-top:0 solid transparent;font-weight:400;border-right:0 solid transparent;border-bottom:0 solid transparent;border-left:0 solid transparent;border:2px solid red;padding-top:5px;padding-bottom:5px;font-family:Mulish,sans-serif;text-align:center;word-break:keep-all;margin:auto"><span style="padding-left:20px;padding-right:20px;font-size:16px;display:inline-block;letter-spacing:normal"><span dir="ltr" style="word-break:break-word;line-height:32px;display:block">Button</span></span></div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <table class="m_-7998072738712585119row-3" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <table class="m_-7998072738712585119row-content m_-7998072738712585119stack m_-7998072738712585119no-display" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="color:#333;width:590px" width="590">
                                                               <tbody>
                                                                  <tr>
                                                                     <td class="m_-7998072738712585119column m_-7998072738712585119column-1" width="100%" style="font-weight:400;text-align:left;vertical-align:top;padding-top:25px;padding-bottom:25px;border-top:0;border-right:0;border-bottom:0;border-left:0;background-color:#fff">
                                                                        <table class="m_-7998072738712585119text_block m_-7998072738712585119block-1" width="100%" border="0" cellpadding="25" cellspacing="0" role="presentation" style="word-break:break-word">
                                                                           <tr>
                                                                              <td class="m_-7998072738712585119pad">
                                                                                 <div style="font-family:sans-serif">
                                                                                    <div class="m_-7998072738712585119divider-block" style="font-size:14px;display:none;height:0;overflow:hidden;width:0;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;line-height:1.2">
                                                                                       <p style="margin:0;font-size:14px;text-align:center">Follow Us </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"><a href="" title="Kuda on Twitter" style="text-decoration:underline" rel="noopener" target="_blank" >Twitter</a>   <a href="" title="Kuda on Instagram" >Instagram</a>   <a href="" rel="noopener" target="_blank" >Linkedin</a>   <a href="" title="Kuda on Medium" style="text-decoration:underline" rel="noopener" target="_blank" >Medium</a></p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center">Contact Us </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"><a href="mailto:help@kuda.com?subject=Hi%20Kuda,%20I%20need%20help" title="Email Help" style="text-decoration:underline" rel="noopener" target="_blank">help@kuda.com</a></p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center">You can unsubscribe from marketing communications at any time in the Kuda app. </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"><a style="text-decoration:underline" rel="noopener">Unsubscribe</a></p>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <table class="m_-7998072738712585119row-content m_-7998072738712585119stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="color:#333;width:590px" width="590">
                                                               <tbody>
                                                                  <tr>
                                                                     <td class="m_-7998072738712585119column m_-7998072738712585119column-1" width="100%" style="font-weight:400;text-align:left;vertical-align:top;padding-top:25px;padding-bottom:25px;border-top:0;border-right:0;border-bottom:0;border-left:0;background-color:#fff">
                                                                        <table class="m_-7998072738712585119text_block m_-7998072738712585119block-1" width="100%" border="0" cellpadding="30" cellspacing="0" role="presentation" style="word-break:break-word">
                                                                           <tr>
                                                                              <td class="m_-7998072738712585119pad m_-7998072738712585119copyright" style="margin-top:0">
                                                                                 <div>
                                                                                    <div class="m_-7998072738712585119icons" style="padding-top:41.6px;margin-bottom:16px;border-top:1px solid #e3e3e3"><a class="m_-7998072738712585119icon-link" href="https://u14804762.ct.sendgrid.net/ls/click?upn=MVG8cHcVtJ9rW2eOKDlPEkK9T-2FaCDpXRSn8STpsqB0vM7LKPSUDx8owNsCj3-2FzwhTPGp_ak5JG4y3eNvKd12Zh3S47-2FIdgTF8j5VEUfAcdVojDwXQX0Tya2Bl-2BUvP7YT6O3Vl1ZuBRcScueSB4bBlfort0x4kkX8fhJEiMRseDKya5jHO3XJW6ytQ5oiU0tK7O9hB8dGCNkjOq3uI-2Be0KMHfKPzDZY2MnD4HC5mYaqhz1WDnlYkHVxbFwp0-2FbPlJh63Oyxt-2BkeBBL6sD2Lh7PM561eQj75W51hAh7Ie7TdPGo1jk-3D" style="display:inline-block;width:27px;height:27px;text-decoration:none;margin-right:6.4px" target="_blank" ><img src="https://ci3.googleusercontent.com/proxy/GoP0zoWPN8xc6asaSrYDjhf_6DkLA-wb4Gnzg8pFVyl1wdO54Ja87mXI3sLhuRfqXJ8H_V1X_32gs37asKXuqBdkx7M=s0-d-e1-ft#https://d38v990enafbk6.cloudfront.net/twitter.png" alt="Twitter" style="display:block;width:100%"></a><a class="m_-7998072738712585119icon-link" href="https://u14804762.ct.sendgrid.net/ls/click?upn=MVG8cHcVtJ9rW2eOKDlPEj2qpLGzsRc1glv2iwuHwnT3KBpgzn5G1x9I3q7YcgL-2F3XEk_ak5JG4y3eNvKd12Zh3S47-2FIdgTF8j5VEUfAcdVojDwXQX0Tya2Bl-2BUvP7YT6O3Vl1ZuBRcScueSB4bBlfort0wKt3wHBWx-2F0o7-2BqQJEFQfGqPKRlXwU-2FYxcOHzR8Zn922P527p-2FjrO9S7JCX8DZw4HoNxgeuz11b34Moj4C-2BEMOwmVsOWVWjIvP9Uxzea5nNFf7mXTRs-2BK7xLlprdtqjOeg3Z62c3y7DH7Jz-2FKGr89I-3D" style="display:inline-block;width:27px;height:27px;text-decoration:none;margin-right:6.4px" target="_blank" ><img src="https://ci5.googleusercontent.com/proxy/3r2y7dmFsfCFIlHXuM076CWtdmFs_LO7fzK3WJ3Jx3N75bL1KeuSl7F_ocpEM40SWQTYEGcVPSPpVXKNzZFtiIEvD5KEKQ=s0-d-e1-ft#https://d38v990enafbk6.cloudfront.net/Instagram.png" alt="Instagram" style="display:block;width:100%"></a><a class="m_-7998072738712585119icon-link" href="https://u14804762.ct.sendgrid.net/ls/click?upn=MVG8cHcVtJ9rW2eOKDlPEu3pgnu8uV-2Fa2xGyju-2BALGskOwLvYe4Yv7EbqBzJO9-2BRN4eiFoDYYmtOEw871DFWqg-3D-3DxYRK_ak5JG4y3eNvKd12Zh3S47-2FIdgTF8j5VEUfAcdVojDwXQX0Tya2Bl-2BUvP7YT6O3Vl1ZuBRcScueSB4bBlfort07ow6CLmgI-2B5hcpBWKQT5-2B7CNDDjPlgl5C5-2B1PUnAysWEsEVquUa4tKDjKH6xADpAPU4gFDD5-2BNjexC67LOBF2c7s7s7P9CbzXEUE4aBstaqwx9W55KGYd5dKWacJZfcZFRmdwHAokLMDTpHBiQ167U-3D" style="display:inline-block;width:27px;height:27px;text-decoration:none;margin-right:6.4px" target="_blank" ><img src="https://ci4.googleusercontent.com/proxy/pT6EmDtclf7jg9HhKSdhbJ-OX1_DrJlYZ6eMVzoIXGoxIqbFBbdWFhTZisYbhcR6zeQTnk9tqsAlhBtILOcHrUlZb7i4=s0-d-e1-ft#https://d38v990enafbk6.cloudfront.net/linkedin.png" alt="Linkedin" style="display:block;width:100%"></a><a class="m_-7998072738712585119icon-link" href="https://u14804762.ct.sendgrid.net/ls/click?upn=MVG8cHcVtJ9rW2eOKDlPEjXun5zG0wJ2PJ9BhSBIjbFjNi91vV81oKTMgzKYIVABn3Hv_ak5JG4y3eNvKd12Zh3S47-2FIdgTF8j5VEUfAcdVojDwXQX0Tya2Bl-2BUvP7YT6O3Vl1ZuBRcScueSB4bBlfort06keLXX1w1PY8fwmxuCqWCuqn0v9bAiDPXSCygWJJEX031zgFq3QTAPJiSlVCaBzqS95yFxlTgVpd9KV5AREI-2BwNxf5xsu7Nsd1GNjKngJSco8J-2BC6dMuONOn0g6LfJ8kmtU12vBzhlttHhYAqqYdko-3D" style="display:inline-block;width:27px;height:27px;text-decoration:none;margin-right:6.4px" target="_blank" ><img src="https://ci4.googleusercontent.com/proxy/v7cUxADBOApsObUCldXuJx0ENs1fKDIRBSo-BVf6OTy0RvMlL5x9r3Fh6CwObuq_DkB12o8IltX8zVO9TSpXvl9Ytw=s0-d-e1-ft#https://d38v990enafbk6.cloudfront.net/medium.png" alt="Medium" style="display:block;width:100%"></a></div>
                                                                                    <div class="m_-7998072738712585119p-wrap" style="color:#979797;line-height:1.2;font-family:&#39;Mulish, sans-serif&#39;">
                                                                                       <p style="margin:0;font-family:Mulish,sans-serif"><span style="line-height:1.6">© 2023 Me Protocol. All rights reserved.</span></p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-family:Mulish,sans-serif"><span style="line-height:1.6">Join thousands of brands and share everything you create, curate and sell online. All from the one link in bio. Welcome to the community-powered circular fashion marketplace.</span></p>
                                                                                       {{!-- <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-family:Mulish,sans-serif"><span style="line-height:1.6">Nigerian banking services offered by Kuda Microfinance Bank (RC796975) with registered address at <a href="https://www.google.com/maps/search/151+-+Herbert+Macaulay+Way,+Yaba,+Lagos,+Nigeria?entry=gmail&amp;source=g">151 - Herbert Macaulay Way, Yaba, Lagos, Nigeria</a>. Kuda Microfinance Bank is licensed by the Central Bank of Nigeria. All Deposits are insured by the Nigerian Deposit Insurance Corporation (NDIC).</span></p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-family:Mulish,sans-serif"><span style="line-height:1.6">UK payments services are offered by Kuda EMI Ltd (Company No. 13724208) with registered address at <a href="https://www.google.com/maps/search/5+New+Street+Square,+London,+EC4A+3TW,+United+Kingdom?entry=gmail&amp;source=g">5 New Street Square, London, EC4A 3TW, United Kingdom</a>. Kuda EMI Ltd is appointed representative of Modulr FS Limited. Modulr FS Limited (Company No 09897919), is regulated by the Financial Conduct Authority for issuance of electronic money under reference 900573.</span></p>
                                                                                       <p style="margin:0;font-size:14px;text-align:center"> </p>
                                                                                       <p style="margin:0;font-family:Mulish,sans-serif"><span style="line-height:1.6">&quot;Kuda&quot; and &quot;Kudabank&quot; is trademark of Kuda Technologies Ltd with the registered address at <a href="https://www.google.com/maps/search/5+New+Street+Square,+London,+United+Kingdom,+EC4A+3TW?entry=gmail&amp;source=g">5 New Street Square, London, United Kingdom, EC4A 3TW</a></span></p> --}}
                                                                                       <p class="m_-7998072738712585119p-logo" style="padding-top:25px"><img src="https://res.cloudinary.com/digital-specie/image/upload/v1689321729/Group_2527.png" alt="Kuda logo" title="Kuda logo" style="display:block;width:20%;min-width:80px"></p>
                                                                                    </div>
                                                                                 </div>
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                   <tbody>
                                                      <tr>
                                                         <td>
                                                            <table class="m_-7998072738712585119row-content m_-7998072738712585119stack" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:0;color:#000;width:590px" width="590">
                                                               <tbody>
                                                                  <tr>
                                                                     <td class="m_-7998072738712585119column m_-7998072738712585119column-1" width="100%" style="font-weight:400;text-align:left;vertical-align:top;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                                                        <table class="m_-7998072738712585119block-1" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                                           <tr>
                                                                              <td class="m_-7998072738712585119pad" style="background-color:#fff">
                                                                                 <div></div>
                                                                              </td>
                                                                           </tr>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <img src="https://res.cloudinary.com/digital-specie/image/upload/v1689321729/Group_2527.png" alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important">
                                 </div>
                              </font>
                           </div>
                  </table>
         </table>
      </div>
      </div>
   </body>
</html>